body {
	margin: 0;
	font-family: 'Inter', sans-serif;

	font-size: 15px;
	line-height: 1.6;
	color: #333;

	display: flex;
	flex-direction: column;
	height: 100vh;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}


.shoplist-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.shoplist-title {
    text-align: center;
}


.shoplist-list {
    width: 100%;
    max-width: 500px;
    padding: 0 5px;
}


.shoplist-list-item {
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 8px;
    margin-bottom: 5px;

    cursor: pointer;
}

.shoplist-list-item:hover {
    background-color: #eee;
}


.shoplist-list-item-element {
    display: flex;
    flex-direction: row;
}


.shoplist-list-item-checkbox {
    width: 22px;
    height: 22px;

    border-radius: 5px;
    border: 2px solid black;
}


.shoplist-list-item-name {
    margin-left: 6px;
}


.shoplist-list-item-add {
    margin-left: 6px;
    color: #999;
}

.shoplist-list-item-text {
    text-align: left;
    margin-left: .75em;
}


.shoplist-list-item-textbox {
    margin-left: .6em;
    font-size: 15px;
    line-height: 1.5;

    font-family: 'Inter', sans-serif;

    border: none;
    outline: none;
    background-color: inherit;
}


.shoplist-footer {
    position: absolute;
    bottom: 0;
    padding: 10px 5px;
}


.shoplist-button {
    background-color: black;
    color: white;
    font-size: 15px;

    padding: 8px 18px;
    border-radius: 6px;
    border: none;
    font-weight: 600;

    cursor: pointer;
}

.shoplist-button:hover {
    background-color: #444;
} 

.shoplist-list-item-cb {
    line-height: 1;
}


.shoplist-list-item-left {
    display: flex;
    flex-direction: row;
}